.navbar {
  text-align: center;
  background-color: orange;
  padding: 1em 0;
}

.list {
  padding: 0;
}

.list-item {
  list-style: none;
  width: 50%;
  margin: 0.5em auto;
  padding: 0.5em 1em;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  text-decoration: none;
}
